<!doctype html>
<html>
  <head>
    <title>Map My Bus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
  </head>
  <div id="app" class="container">
    <div class="row">
      <div class="col-md-9">
        <div id="map" class="map"></div>
      </div>
      <div class="col-md-3">
        <div v-if="subscribedTopics.length">
          Subscribed to topics:
          <li v-for="topic in subscribedTopics">
             {{ topic }}
           </li>
        </div>
      </div>
    </div>
  </div>
  <script src="app.js"></script>
  <script>

  </script>

</html>
